<form action = '/login' method ="POST">
    <label for="FirstName">First Name</label>
    <input
      type="text"
      name="person[firstName]"
      placeholder="Enter First Name"
    />
    <label for="LastName">Last Name</label>
    <input
      type="text"
      name="person[lastName]"
      placeholder="Enter Last Name"
    />
    <input
    type = "submit" value="Enter"/>
</form>